<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/settings/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"
      xsi:schemalocation="http://maven.apache.org/settings/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<servers>
  <server>
        <id>nexus-snapshots</id>
        <username>username</username>
        <password>pass</password>
    </server>
    <server>
        <id>deploymentRepo</id>
        <username>admin</username>
        <password>aziz</password>
    </server>
</servers>
</settings>
